:root {
  --navbar-bg-color: hsl(0, 0%, 15%);
  --navbar-text-color: hsl(0, 0%, 85%);
  --navbar-text-color-focus: white;
  --navbar-bg-contrast: hsl(0, 0%, 25%);
  --bg-yellow: #ffc306;
  --bg-blue: #070a52;
  --bg-white: #ffffff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
  scroll-behavior: smooth;
}

.container {
  max-width: 1300px;
  padding-left: 1.4rem;
  padding-right: 1.4rem;
  margin-left: auto;
  margin-right: auto;
}

#navbar {
  --navbar-height: 64px;
  position: fixed;
  height: var(--navbar-height);
  background-color: var(--bg-blue);
  left: 0;
  right: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  z-index: 999999;
}

.navbar-container {
  display: flex;
  /* justify-content: space-evenly; */
  height: 100%;
  align-items: center;
}

.navbar-item {
  margin: 0.4em;
  width: 100%;
}

.home-link {
  margin-right: 20px;
}

.home-link,
.navbar-link {
  color: var(--navbar-text-color);
  text-decoration: none;
  display: flex;
  font-weight: 400;
  align-items: center;
}

.home-link:is(:focus, :hover) {
  color: var(--navbar-text-color-focus);
}

.navbar-link {
  justify-content: center;
  width: 100%;
  padding: 0.4em 0.8em;
  border-radius: 5px;
}

.navbar-link:is(:focus, :hover) {
  color: var(--navbar-text-color-focus);
  background-color: var(--navbar-bg-contrast);
}

.navbar-logo {
  border-radius: 50%;
  width: 100px;
  height: 40px;
  margin-right: 0.5em;
  height: auto;
}

#navbar-toggle {
  cursor: pointer;
  border: none;
  background-color: transparent;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.icon-bar {
  display: block;
  width: 25px;
  height: 4px;
  margin: 2px;
  background-color: var(--navbar-text-color);
}

#navbar-toggle:is(:focus, :hover) .icon-bar {
  background-color: var(--navbar-text-color-focus);
}

#navbar-toggle[aria-expanded="true"] .icon-bar:is(:first-child, :last-child) {
  position: absolute;
  margin: 0;
  width: 30px;
}

#navbar-toggle[aria-expanded="true"] .icon-bar:first-child {
  transform: rotate(45deg);
}

#navbar-toggle[aria-expanded="true"] .icon-bar:nth-child(2) {
  opacity: 0;
}

#navbar-toggle[aria-expanded="true"] .icon-bar:last-child {
  transform: rotate(-45deg);
}

#navbar-menu {
  position: fixed;
  top: var(--navbar-height);
  bottom: 0;
  opacity: 0;
  visibility: hidden;
  left: 0;
  right: 0;
}

#navbar-toggle[aria-expanded="true"] + #navbar-menu {
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 1;
  visibility: visible;
}

.navbar-links {
  list-style: none;
  position: absolute;
  background-color: var(--bg-blue);
  display: flex;
  flex-direction: column;
  align-items: center;
  left: 0;
  right: 0;
  margin: 1.4rem;
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

#navbar-toggle[aria-expanded="true"] + #navbar-menu .navbar-links {
  padding: 1em;
}

.menu-right-auto {
  margin-left: auto;
  order: 2;
}

@media screen and (min-width: 900px) {
  #navbar-toggle {
    margin-left: auto;
  }
  #navbar-toggle,
  #navbar-toggle[aria-expanded="true"] {
    display: none;
  }
  #navbar-menu,
  #navbar-toggle[aria-expanded="true"] #navbar-menu {
    visibility: visible;
    opacity: 1;
    position: static;
    display: block;
    height: 100%;
  }
  .navbar-links,
  #navbar-toggle[aria-expanded="true"] #navbar-menu .navbar-links {
    margin: 0;
    padding: 0;
    box-shadow: none;
    position: static;
    flex-direction: row;
    width: 100%;
    height: 100%;
  }
}

.dropbtn {
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  text-align: center;
  white-space: nowrap;
}

.flex {
  display: flex;
  white-space: nowrap;
}

.align-item-center {
  align-items: center;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn .links {
  text-decoration: none;
  color: var(--bg-white);
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  background-color: rgb(7, 10, 82, 0.5);
  backdrop-filter: blur(15px);
  border-radius: 6px;
}

.dropdown-content a {
  color: var(--bg-white);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  color: var(--bg-yellow);
}

.dropdown .dropbtn:hover a {
  color: var(--primary);
}

.dropdown .dropbtn::after {
  content: "";
  display: block;
  border-bottom: 0.1rem solid var(--bg-yellow);
  transform: scaleX(0);
  transition: 0.2s linear;
}

.dropdown .dropbtn:hover::after {
  transform: scale(1);
}

.dropdown-content a::after {
  content: "";
  display: block;
  height: 1px;
  background: var(--bg-yellow);
  transition: 0.2s linear;
  transform: scale(0);
}

.dropdown-content a:hover::after {
  transform: scale(1);
}

.title-section {
  width: 100%;
  padding: 20px;
  /*background-color: var(--bg-blue);*/
}

.text-white {
  color: #000000;
}

.text-center {
  text-align: center;
}

.img-responsive {
  width: 100%;
  height: auto;
}
@media screen and (max-width: 900px) {
  .img-responsive {
    width: 100%;
    height: 100vh;
    content: url("Hero\ 5.png");
  }
}
@media (max-width: 480px) {
  .img-responsive {
    width: 100%;
    height: 100vh;
    content: url("Hero\ 7.png");
  }
}

/* drag-lide */

.title-section {
  font-size: 1.7rem;
  font-family: "Poppins", sans-serif;
}
.flex-card {
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: center;
}

.wrapper {
  max-width: 1100px;
  width: 100%;
  position: relative;
}

.wrapper i {
  top: 50%;
  height: 50px;
  width: 50px;
  cursor: pointer;
  font-size: 1rem;
  position: absolute;
  text-align: center;
  line-height: 50px;
  background: #ffffff;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
  transform: translateY(-50%);
  transition: transform 0.1s linear;
}

.wrapper i:active {
  transform: translateY(-50%) scale(0.85);
}

.wrapper i:first-child {
  left: -19px;
}

.wrapper i:last-child {
  right: -19px;
}

.wrapper .carousel {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 3) - 12px);
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 16px;
  border-radius: 8px;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

.carousel::-webkit-scrollbar {
  display: none;
}

.carousel.no-transition {
  scroll-behavior: auto;
}

.carousel.dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}

.carousel.dragging .card {
  cursor: grab;
  user-select: none;
}

.carousel :where(.card, .img) {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel .card {
  scroll-snap-align: start;
  height: 342px;
  list-style: none;
  background: #ffffff;
  cursor: pointer;
  padding-bottom: 15px;
  flex-direction: column;
  border-radius: 8px;
  box-shadow: inset 3px 3px 4px rgba(0, 0, 0, 0.4);
}

.carousel .card .img {
  background: #070a52;
  height: 148px;
  width: 148px;
  border-radius: 50%;
}

.card .img img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #fff;
}

.carousel .card h2 {
  font-weight: 500;
  font-size: 1.56rem;
  margin: 30px 0 5px;
}

.carousel .card span {
  color: #6a6d78;
  font-size: 1.31rem;
}

@media screen and (max-width: 900px) {
  .wrapper i:first-child {
    left: -5px;
  }

  .wrapper i:last-child {
    right: -5px;
  }
  .wrapper .carousel {
    grid-auto-columns: calc((100% / 1) - 1px);
  }
  .flex-card {
    width: 100%;
  }
  .wrapper {
    width: 100%;
  }
  .carousel .card {
    scroll-snap-align: start;
    height: 342px;
    list-style: none;
    background: #fff;
    cursor: pointer;
    padding-bottom: 15px;
    flex-direction: column;
    border-radius: 8px;
  }

  .carousel .card .img {
    background: #070a52;
    height: 148px;
    width: 148px;
    border-radius: 50%;
  }

  .card .img img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #fff;
  }

  .carousel .card h2 {
    font-weight: 500;
    font-size: 1.56rem;
    margin: 30px 0 5px;
  }

  .carousel .card span {
    color: #6a6d78;
    font-size: 1.31rem;
  }
}
/* timeline */
.timeline {
  position: relative;
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  padding: 15px 0;
}

/*.timeline::after {
  content: "";
  position: absolute;
  width: 2px;
  background: #000000;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -1px;
}
*/
.container_timeline {
  padding: 15px 30px;
  position: relative;
  background: inherit;
  width: 50%;
}

.container_timeline.left {
  left: 0;
}

.container_timeline.right {
  left: 50%;
}

/*.container_timeline::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  top: calc(50% - 8px);
  right: -8px;
  background: var(--bg-blue);
  border: 2px solid #000000;
  border-radius: 16px;
  z-index: 1;
}
*/
.container_timeline.right::after {
  left: -8px;
}

/*.container_timeline::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 2px;
  top: calc(50% - 1px);
  right: 8px;
  background: #000000;
  z-index: 1;
}
*/
.container_timeline.right::before {
  left: 8px;
}

/*.container_timeline .date {
  position: absolute;
  display: inline-block;
  top: calc(50% - 8px);
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 1px;
  z-index: 1;
}
*/
.container_timeline.left .date {
  right: -75px;
}

.container_timeline.right .date {
  left: -75px;
}

.container_timeline .icon {
  position: absolute;
  display: inline-block;
  width: 40px;
  height: 40px;
  padding: 9px 0;
  top: calc(50% - 20px);
  background: #ffffff;
  border: 2px solid #000000;
  border-radius: 40px;
  text-align: center;
  font-size: 18px;
  color: #000000;
  z-index: 1;
}

.container_timeline.left .icon {
  right: 56px;
}

.container_timeline.right .icon {
  left: 56px;
}

.container_timeline .content {
  padding: 30px 90px 30px 30px;
  background: var(--bg-blue);
  position: relative;
  border-radius: 0 500px 500px 0;
}

.container_timeline.right .content {
  padding: 30px 30px 30px 90px;
  border-radius: 500px 0 0 500px;
}

.container_timeline .content h2 {
  margin: 0 0 10px 0;
  font-size: 18px;
  font-weight: normal;
  color: #ffffff;
  font-style: bold;
  text-decoration: underline;
}

.container_timeline .content p {
  margin: 0;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  text-align: justify;
}

@media (max-width: 900px) {
  .timeline::after {
    left: 40px;
    right: 40px;
  }
  .container_timeline {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }
  .container_timeline.right,
  .container_timeline.left {
    right: 0%;
    left: 0%;
  }

  .container_timeline.left::after {
    left: 10px;
  }
  .container_timeline.right::after {
    right: 10px;
  }
  .container_timeline.left::before,
  .container_timeline.right::before {
    left: 50px;
    border-color: transparent #006e51 transparent transparent;
    width: 100px;
  }
  .container_timeline.left .date,
  .container_timeline.right .date {
    right: 20px;
    left: 30px;
  }
  .container_timeline.left .icon {
    left: 268px;
  }
  .container_timeline.right .icon {
    right: 250px;
  }
  .container_timeline.left .content,
  .container_timeline.right .content {
    padding: 30px 10px 30px 10px 70px;
  }

  /* flex-wrap */
  .flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    width: 100%;
    background-color: yellow;
  }
  @media screen and (max-width: 600px) {
    .flex-container {
      flex-direction: column;
    }
  }
  .flex-item {
    width: 200px;
    height: 200px;
    background-color: #000000;
  }
}

.hero {
  width: 100%;
  min-height: 100vh;
  display: grid;
  place-items: center;
}

.hero .box-hero {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 40px;
  align-items: center;
}

.hero .box-hero .box:nth-child(1) h2 {
  font-size: 20px;
  font-weight: normal;
  line-height: 1.2;
  margin-bottom: 20px;
  color: #000000;
}

.hero .box-hero .box:nth-child(1) h1 {
  font-size: 20px;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 5px;
  color: #000000;
}

.hero .box-hero .box:nth-child(1) p {
  font-size: 10px;
  line-height: 2;
  margin-bottom: 7px;
  margin-right: -4px;
  text-align: justify;
}

.hero .box-hero .box:nth-child(1) button {
  padding: 5px 10px;
  background: grey;
  border-radius: 10px;
  font-size: small;
  font-weight: normal;
}

.hero .box-hero .box:nth-child(2) image {
  align-items: right;
}

.accordion {
  position: relative;
  width: 350px;
  margin-left: 40px;
}

.title {
  margin-top: 20px;
  font-size: 2rem;
  text-align: center;
}

.content-accordion {
  margin-top: 35px;
  margin-right: 50px;
}

.question-answer {
  width: 100%;
  border-bottom: 1px solid #e8e8e8;
}

.question {
  display: flex;
  justify-content: space-between;
}

.accordion-img {
  position: relative;
  width: 320px;
}

.title-question {
  margin: 1.4rem 0rem;
  font-size: 1.2rem;
  font-weight: 500;
  color: #000;
}

.question-btn {
  font-size: 1.5rem;
  background: transparent;
  border-color: transparent;
  cursor: pointer;
}

.up-icon {
  display: none;
}

.answer {
  font-size: 1.2rem;
  line-height: 1.8;
  display: none;
}

.show-text .answer {
  display: block;
}

.show-text .up-icon {
  display: inline;
}

.show-text .down-icon {
  display: none;
}
@media screen and (max-width: 700px) {
  .box-hero .box p {
    width: 18rem;
  }
  .hero .box-hero {
    display: flex;
    align-items: flex-start;
    margin-bottom: 15rem;
  }
  .box1 iframe {
    margin-top: 18rem;
    left: 0;
    margin-left: 4vh;
    position: absolute;
    width: 300px;
    height: 180px;
  }
}
/*@media (max-width: 767px) {
  .box-hero .box p {
    width: 25rem;
  }
  .hero .box-hero {
    display: flex;
    align-items: flex-start;
    margin-bottom: 15rem;
  }
  .box1 iframe {
    margin-top: 18rem;
    left: 2rem;
    position: absolute;
    width: 400px;
    height: 200px;
  }
}
*/
@media screen and (max-width: 900px) {
  .accordion {
    width: 920px;
    height: 0;
    display: flex;
  }
  .accordion-img {
    position: relative;
    width: 420px;
    top: 88px;
  }
  .question-answer {
    width: 380px;
  }
  .content-accordion {
    margin-top: 85px;
  }
  .title {
    margin-top: 50px;
    font-size: 3rem;
  }
}

/*FAQ*/
.faq-heading {
  border-bottom: #ffffff;
  color: #000000;
  padding: 0 40px;
  text-align: center;
  font-size: 1.7rem;
}
.faq-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.hr-line {
  width: 60%;
  margin: auto;
}
/* Style the buttons that are used to open and close the faq-page body */
.faq-page {
  /* background-color: #eee; */
  color: #000000;
  cursor: pointer;
  padding: 30px 20px;
  width: 60%;
  border: none;
  outline: none;
  transition: 0.4s;
  margin: auto;
  font-size: 1rem;
}
.faq-body {
  margin: auto;
  /* text-align: center; */
  width: 50%;
  padding: auto;
  font-size: 1rem;
  text-align: justify;
}
/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.faq-page:hover {
  background-color: #f9f9f9;
}
/* Style the faq-page panel. Note: hidden by default */
.faq-body {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}
.faq-page:after {
  content: "\02795";
  /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: #000000;
  float: right;
  margin-left: 5px;
}
.active:after {
  content: "\2796";
}

/*footer*/
.footerContainer {
  background-color: var(--bg-blue);
  width: 100%;
  padding: 30px 30px 5px;
}

.img-footer {
  display: flex;
  width: 170px;
  height: 100px;
  margin: 0 32rem;
}
.footerNav {
  margin: 20px 0;
}
.footerNav p {
  text-align: center;
  width: 36rem;
  padding: 15px;
  display: flex;
  justify-content: center;
  color: #ffffff;
  margin-left: 23rem;
  font-size: 15px;
}

.footerBottom {
  background-color: rgb(12, 14, 90);
  padding: 15px;
  text-align: center;
}
.footerBottom p {
  color: #ffffff;
}
.designer {
  opacity: 0.7;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  margin: 0 5px;
}
@media screen and (max-width: 900px) {
  .img-footer {
    width: 170px;
    height: 100px;
    margin: 0 10rem;
  }
  .footerNav p {
    text-align: center;
    width: 36rem;
    padding: 10px;
    display: flex;
    justify-content: center;
    color: #ffffff;
    margin-left: 1rem;
    font-size: 15px;
    left: 1rem;
  }
}
@media screen and (max-width: 400px) {
  .img-footer {
    width: 170px;
    height: 100px;
    margin: 0 1rem;
  }
  .footerNav p {
    text-align: center;
    width: 18rem;
    left: 1rem;
    display: flex;
    justify-content: center;
    color: #ffffff;
    margin-left: 0;
    margin-right: 2rem;
    font-size: 15px;
  }
}
