:root {
  --navbar-bg-color: hsl(0, 0%, 15%);
  --navbar-text-color: hsl(0, 0%, 85%);
  --navbar-text-color-focus: white;
  --navbar-bg-contrast: hsl(0, 0%, 25%);
  --bg-yellow: #ffc306;
  --bg-blue: #070a52;
  --bg-white: #ffffff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #f5f5f5;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
  scroll-behavior: smooth;
}

/*navbar*/
.container {
  max-width: 1300px;
  padding-left: 1.4rem;
  padding-right: 1.4rem;
  margin-left: auto;
  margin-right: auto;
}

#navbar {
  --navbar-height: 64px;
  position: fixed;
  height: var(--navbar-height);
  background-color: var(--bg-blue);
  left: 0;
  right: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  z-index: 999999;
}

.navbar-container {
  display: flex;
  /* justify-content: space-evenly; */
  height: 100%;
  align-items: center;
}

.navbar-item {
  margin: 0.4em;
  width: 100%;
}

.home-link {
  margin-right: 20px;
}

.home-link,
.navbar-link {
  color: var(--navbar-text-color);
  text-decoration: none;
  display: flex;
  font-weight: 400;
  align-items: center;
}

.home-link:is(:focus, :hover) {
  color: var(--navbar-text-color-focus);
}

.navbar-link {
  justify-content: center;
  width: 100%;
  padding: 0.4em 0.8em;
  border-radius: 5px;
}

.navbar-link:is(:focus, :hover) {
  color: var(--navbar-text-color-focus);
  background-color: var(--navbar-bg-contrast);
}

.navbar-logo {
  border-radius: 50%;
  width: 100px;
  height: 30px;
  margin-right: 0.5em;
  height: auto;
}

#navbar-toggle {
  cursor: pointer;
  border: none;
  background-color: transparent;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.icon-bar {
  display: block;
  width: 25px;
  height: 4px;
  margin: 2px;
  background-color: var(--navbar-text-color);
}

#navbar-toggle:is(:focus, :hover) .icon-bar {
  background-color: var(--navbar-text-color-focus);
}

#navbar-toggle[aria-expanded="true"] .icon-bar:is(:first-child, :last-child) {
  position: absolute;
  margin: 0;
  width: 30px;
}

#navbar-toggle[aria-expanded="true"] .icon-bar:first-child {
  transform: rotate(45deg);
}

#navbar-toggle[aria-expanded="true"] .icon-bar:nth-child(2) {
  opacity: 0;
}

#navbar-toggle[aria-expanded="true"] .icon-bar:last-child {
  transform: rotate(-45deg);
}

#navbar-menu {
  position: fixed;
  top: var(--navbar-height);
  bottom: 0;
  opacity: 0;
  visibility: hidden;
  left: 0;
  right: 0;
}

#navbar-toggle[aria-expanded="true"] + #navbar-menu {
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 1;
  visibility: visible;
}

.navbar-links {
  list-style: none;
  position: absolute;
  background-color: var(--bg-blue);
  display: flex;
  flex-direction: column;
  align-items: center;
  left: 0;
  right: 0;
  margin: 1.4rem;
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

#navbar-toggle[aria-expanded="true"] + #navbar-menu .navbar-links {
  padding: 1em;
}

.menu-right-auto {
  margin-left: auto;
  order: 2;
}

@media screen and (min-width: 700px) {
  #navbar-toggle {
    margin-left: auto;
  }
  #navbar-toggle,
  #navbar-toggle[aria-expanded="true"] {
    display: none;
  }
  #navbar-menu,
  #navbar-toggle[aria-expanded="true"] #navbar-menu {
    visibility: visible;
    opacity: 1;
    position: static;
    display: block;
    height: 100%;
  }
  .navbar-links,
  #navbar-toggle[aria-expanded="true"] #navbar-menu .navbar-links {
    margin: 0;
    padding: 0;
    box-shadow: none;
    position: static;
    flex-direction: row;
    width: 100%;
    height: 100%;
  }
}

.dropbtn {
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  text-align: center;
  white-space: nowrap;
}

.flex {
  display: flex;
  white-space: nowrap;
}

.align-item-center {
  align-items: center;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn .links {
  text-decoration: none;
  color: var(--bg-white);
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  background-color: rgb(7, 10, 82, 0.5);
  backdrop-filter: blur(15px);
  border-radius: 6px;
}

.dropdown-content a {
  color: var(--bg-white);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  color: var(--bg-yellow);
}

.dropdown .dropbtn:hover a {
  color: var(--primary);
}

.dropdown .dropbtn::after {
  content: "";
  display: block;
  border-bottom: 0.1rem solid var(--bg-yellow);
  transform: scaleX(0);
  transition: 0.2s linear;
}

.dropdown .dropbtn:hover::after {
  transform: scale(1);
}

.dropdown-content a::after {
  content: "";
  display: block;
  height: 1px;
  background: var(--bg-yellow);
  transition: 0.2s linear;
  transform: scale(0);
}

.dropdown-content a:hover::after {
  transform: scale(1);
}

.title-section {
  width: 100%;
  padding: 20px;
  /*background-color: var(--bg-blue);*/
}

.text-white {
  color: #000000;
}

.text-center {
  text-align: center;
}

/*Our Team*/
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 1em;
  text-align: center;
  margin-left: 2em;
  margin-right: 2em;
}
.row .column {
  width: 100;
  height: 23em;
}
.column {
  width: 100%;
  padding: 0.5em 0;
}
h1 {
  width: 100%;
  text-align: center;
  font-size: 3.5em;
  color: #00093b;
}
.card {
  box-shadow: 0 0 2.2em rgba(25, 0, 58, 0.15);
  padding: 3.5em 1em;
  border-radius: 0.6em;
  color: #00093b;
  cursor: pointer;
  transition: 0.2s;
  background-color: #ffffff;
}
.card .img-container {
  width: 8em;
  height: 8em;
  background-color: #66bbe2;
  padding: 0.5em;
  border-radius: 50%;
  margin: 0 auto 2em auto;
}
.card img {
  width: 100%;
  border-radius: 50%;
}
.card h3 {
  font-weight: 500;
}
.icons {
  width: 50%;
  max-width: 180px;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
}
.card a {
  text-decoration: none;
  color: inherit;
  font-size: 1.4em;
}
.card:hover {
  background: linear-gradient(#4587ea, #6799f7);
  color: #ffffff;
}
.card:hover .img-container {
  transform: scale(1.15);
}
@media screen and (min-width: 768px) {
  section {
    padding: 1em 7em;
    position: absolute;
    margin-top: 3rem;
  }
  h1 {
    position: absolute;
    margin-top: 5rem;
  }
}
@media screen and (min-width: 992px) {
  section {
    padding: 1em;
  }
  .column {
    flex: 0 0 33.33%;
    max-width: 33.33%;
    padding: 0 1em;
  }
}

/*footer*/
.header1 {
  background-color: rgb(255, 255, 255);
  padding: 1px;
  margin-bottom: 0;
  position: relative;
  box-sizing: border-box;
}
.content1 {
  padding: 10px;
}

h4 {
  text-align: left;
  color: #ffffff;
}

.row1 {
  display: flex;
  flex-wrap: wrap;
  max-width: 1180px;
  margin: auto;
}

ul {
  list-style: none;
}

.footer1 {
  background-image: linear-gradient(#070a52, #38a3a5);
  padding: 70px 0;
  position: relative;
  bottom: 0;
  width: 100%;
}

.footer-col {
  width: 25%;
  padding: 0 15px;
}

.footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}

.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10;
  background-color: #ffffff;
  height: 2px;
  box-sizing: border-box;
  width: 70px;
  margin-top: 2rem;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}

.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #ffffff;
  display: block;
  transition: all 0.3s ease;
}

.footer-col ul li a:hover {
  color: #020202;
  padding-left: 8px;
}

.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
  font-size: 1.5rem;
}

.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
}

@media (max-width: 767px) {
  .footer-col {
    width: 100%;
    margin-bottom: 30px;
  }
}

@media (max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}
